{% extends 'base.html' %}

{% block content %}
<h1>Your Files</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">Credit Card</th>
        <th scope="col">Franchise</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
    {% for contact in contact_list %}
      <tr>
        <td>{{ contact.name }}</td>
        <td>{{ contact.date_of_birth|date:'Y M d' }}</td>
        <td>{{ contact.phone }}</td>
        <td>{{ contact.address }}</td>
        <td>{{ contact.last_four_card_numbers }}</td>
        <td>{{ contact.franchise }}</td>
        <td>{{ contact.email }}</td>
      </tr>
    {% empty %}
      <tr>
        <td>No files yet</td>
        <td></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <p><a href="{% url 'index' %}">Return to home</a></p>

  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}



